* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 100vh;
}

nav {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

a {
    margin: 2px;
    font-size: 2px;
    position: relative;
    padding-bottom: 0.5px;
    top: 4%;
    left: 10%;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: rgb(9, 41, 136);
}

a:hover {
    cursor: pointer;
    border-bottom: 0.5px solid rgb(9, 41, 136);
}

#get {
    position: relative;
    left: 12%;
}

#signin {
    position: relative;
    left: 17%;
}

#search {
    position: absolute;
    left: 46%;
    top: 1.325%;
    width: 1.625px;
    border-radius: 50%;
    padding: all 0.75px;
    transition: all ease 0.2s;
}

#search:hover {
    cursor: pointer;
    width: 2.05px;
    box-shadow: 0 5px 7.5px 0 rgba(0, 0, 0, 0.3);
}

#code {
    position: absolute;
    left: 5%;
    top: 1.55%;
    font-size: 3.25px;
    font-family: sans-serif;
    color: rgb(9, 41, 136);
    font-weight: 600;
}

#heading {
    position: absolute;
    font-size: 7.5px;
    font-family: sans-serif;
    top: 9%;
    left: 5.075%;
    color: rgb(9, 41, 136);
}

#man {
    position: absolute;
    width: 56.25px;
    top: 4.5%;
    left: 30%;
}

#sub {
    position: absolute;
    font-weight: 600;
    font-size: 7.5px;
    color: rgb(9, 41, 136);
    top: 21%;
    left: 5.075%;
}

#small {
    position: absolute;
    width: 10px;
    border: 0.45px solid rgb(9, 41, 136);
    color: royalblue;
    top: 26%;
    left: 5.125%;
}

p {
    position: absolute;
    top: 30%;
    left: 5.075%;
    color: rgb(9, 41, 136);
    font-size: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

#start {
    position: absolute;
    top: 37.5%;
    left: 5.075%;
    width: 17.5px;
    border-radius: 3.5px;
    font-size: 1.5px;
    font-family: sans-serif;
    height: 5px;
    color: beige;
    border: none;
    outline: none;
    background: linear-gradient(#02ace4, #090a79);
}

#end {
    position: absolute;
    top: 37.5%;
    left: 12.15%;
    width: 17.5px;
    border-radius: 3.5px;
    font-size: 1.5px;
    font-family: sans-serif;
    height: 5px;
    color: rgb(9, 41, 136);
    border: 0.5px solid rgb(9, 41, 136);
    outline: rgb(9, 41, 136);
}

#one,
#two,
#three {
    position: absolute;
    top: 45%;
    width: 1.5px;
    left: 5.175%;
}

#two {
    left: 6%;
}

#three {
    left: 7.5%;
}

#tri {
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    width: 0.5%;
    height: 1vh;
    background: rgb(9, 41, 136);
    border: 0.5px solid rgb(9, 41, 136);
    position: absolute;
    left: 3.3%;
    top: 1.75%;
}

#cir {
    border-radius: 50%;
    width: 0.5%;
    height: 1vh;
    border: 0.5px solid rgb(9, 41, 136);
    position: absolute;
    left: 3.8%;
    top: 2.5%;
}
